

<div class="container">

<div class="card mb-3" style="max-width: 940px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <ngb-carousel *ngFor="let item of Informacion">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width='400' [src]="item.ImagenesArticulo[0].Url" alt="Random first slide">
          </div>
          <div class="carousel-caption">

            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width='400' [src]="item.ImagenesArticulo[1].Url" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>No mouse events...</h3>
            <p>This carousel doesn't pause or resume on mouse events</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img  width='400' [src]="item.ImagenesArticulo[2].Url"  alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>No keyboard...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width='400' [src]="item.ImagenesArticulo[2].Url" alt="Random fourth slide">
          </div>
          <div class="carousel-caption">
            <h3>And no wrap after last slide.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{Informacion[0].Nombre}}</h5>
        <p class="card-text">{{Informacion[0].Descripcion}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <h5 class="card-title">Precio{{':'+Informacion[0].Precio}}</h5>
      </div>
    </div>
  </div>
</div>
</div>
