<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <h3 class="h3">AlejaExpress </h3>
  <span>Categoria:</span>
  <select [(ngModel)]="CategoriaSeleccionada" (change)="ConsultarXCategoria()" >
    <option value="0">Seleccione una categoria</option>
    <option *ngFor="let cat of Categorias"  value="{{cat.id}}" >{{cat.Nombre}}</option>
  </select>
<br><br>
  <div class="row">

      <div class="col-md-3 col-sm-6" *ngFor="let item of Informacion">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      <!-- <img class="pic-1" src={{item.urlImagen}}>
                      <img class="pic-2" src="https://exitocol.vteximg.com.br/arquivos/ids/596495-500-auto?width=500&height=auto&aspect=true"> -->

                        <img class="pic-1" *ngIf="item.ImagenesArticulo.length > 0" [src]="item.ImagenesArticulo[0].Url">
                        <img class="pic-2" *ngIf="item.ImagenesArticulo.length > 0" [src]="item.ImagenesArticulo[1].Url" >
                            <!-- {{item.ImagenesArticulo}} -->

                  </a>
                  <!-- <ul class="social">
                      <li><a href="../../../../e2e/src/Images/carro.png" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="../../../../e2e/src/Images/carro.png" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul> -->
                  <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">20%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star disable"></li>
              </ul>

              <div class="product-content">
                  <h3 class="title"><a href=""  (click)="SeleccionarId(item.id)" [routerLink]="['/detalleproducto']">{{item.Nombre}}</a></h3>
                  <div class="price">${{item.Precio}}
                      <span>$20.00</span>
                  </div>
                  <a class="add-to-cart"  (click)="this.nuevoArticulo(item.id,item.Nombre,item.Descripcion,item.Precio)"  href="">+ Add To Cart</a>

              </div>
          </div>
      </div>



  </div>


</div>
<hr>
